*.*~
__pycache__/
*.pkl
data/
**/*.egg-info
.python-version
.idea/
.vscode/
.DS_Store
_build/

f1tenth_gym/protobuf
f1tenth_gym/build/
f1tenth_gym/gym/f110_gym.egg-info
__pycache__
*.pyc
.DS_Store
.vscode/